[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/northprim/ArduinoJson.git
[submodule "lib/MicroOcpp"]
	path = lib/MicroOcpp
	url = https://github.com/northprim/MicroOcpp
[submodule "lib/MicroOcppMongoose"]
	path = lib/MicroOcppMongoose
	url = https://github.com/northprim/MicroOcppMongoose
[submodule "lib/mongoose"]
	path = lib/mongoose
	url = https://github.com/northprim/mongoose
[submodule "webapp-src"]
	path = webapp-src
	url = https://github.com/northprim/micro-ocpp-dashboard
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/northprim/mbedtls
